.login-container{
  background-color: #F8D39A ;
}

label{
  font-family: "Sitka Text", serif;
  color: black;
  font-weight: bold;
}

button{
  background-color: #ECB10C;
}

a{
  color: black;
  font-weight: bold;
}
.submit-btn{
  background-color: #ECB10C;
}