

.nav-container{
  background-color: #ECB10C;
}

form{
  display: flex;
}
input{
  display: block;
}
.search-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}


